<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

        <div class="jumbotron text-center">
          <div class="container">
            <a href="/" class="giftr-logo">
              <img src="/giftr_logo.png">
            </a>
            <h1>Fernfachhochschule Schweiz FFHS - BSc Inf 2013 - InnT - Aufsetzen einer PaaS Umgebung</h1>
            <p>Das Aufsetzen der PaaS Umgebung ist gelungen. Nun gilt es noch ein paar Daten via REST-Service hier anzuzeigen.</p>
          </div>
        </div>
    </body>
</html>
